.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  background: linear-gradient(135deg, rgb(236, 234, 229), rgb(182, 180, 180));
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.buttonWrapper button,
button {
  width: 100%;
  padding: 12px 0;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  border: none;
  border-radius: 12px;
  background-color: #6e7072;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.buttonWrapper button:hover,
button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  background-color: #f3f5f7;
}

.listWrapper ul,
ul {
  list-style: none;
}

.listWrapper ul li,
ul li {
  font-size: 24px;
  margin: 16px 0;
}
