.buttonWrapper button,
button {
  width: 100%;
  margin-top: 10px;
  display: grid;
  font-size: 16px;
  -webkit-text-fill-color: #6e7072;
}

.buttonWrapper button:hover,
button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  background-color: #f3f5f7;
  color: #6e7072;
}
